<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Eventlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Events</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	    <table class="table table-striped">
		<tr>
		    <th>Event</th>
		    <th>Place</th>
		    <th>Date</th>
		    <th>Lat</th>
		    <th>Lon</th>
		    <th sec:authorize="hasRole('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "event : ${events}">
    		<td th:text="${event.eventName}"></td>
    		<td th:text="${event.eventPlace}"></td>
    		<td th:text="${event.dateTime}"></td>
    		<td th:text="${event.lat}"></td>
    		<td th:text="${event.lon}"></td> 
    		<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${event.id})}" class="btn btn-danger" >Delete</a></td>
    		<td><a th:href="@{/edit/{id}(id=${event.id})}">Edit</a></td>  
    	</tr>
	</table>
	<a href="/add" class="btn btn-success">Add Event</a> 
</div>
</body>
</html>